<center>
<% unless @order.blank? %>
	<br><%= link_to 'Explore Main Menu', root_path %>
	
	<br><%= button_to 'Buy Now' , buy_now_orders_path %>
	<br><%= button_to 'Clear Cart', clear_cart_orders_path %>
	<hr>

	<table align="center">
		<!-- <col width=""> -->
		<thead>
		<tr>
		  <th>Item Name</th>
		  <th>Price</th>
		  <th>Quantity</th>
		  <th>Total Price</th>
		</tr>

		</thead>
	  <tbody>
	    <% @order.carts.each do |cart| %>
	      <tr><%= render 'carts/cart', cart: cart %></tr>
	    <% end %>

	  </tbody>
	</table>

	
	<hr><%= button_to 'Buy Now' , buy_now_orders_path %><br>
	<%= button_to 'Clear Cart', clear_cart_orders_path %>
	<%= link_to 'Explore Main Menu', root_path %>
<% else %>
	<br><%= link_to 'Explore Main Menu', root_path %><hr>
	<h4>Your Cart seems to be empty</h4>
	<h4>Please get some delicious foods and fill your cart</h4>
	<hr><br><%= link_to 'Explore Main Menu', root_path %>
<% end %>
</center>