<div style="text-align: center;">
  <br><%= link_to 'Explore Main Menu', root_path %> | 
  <%= link_to "My Cart (#{current_user.cart_size})", my_cart_orders_path %><br><hr>
  <h4>Choose from any of the delicious <%= @category.name %> food</h4>
  <table align="center">
    <thead>
      <tr>
        <td>Name</td>
        <td></td>
        <td>Price</td>
        <td>Qauntity</td>
      </tr>
    </thead>
    <tbody>
      <% @category.foods.each do |food| %>
      	<tr>
          <%= render 'foods/food', :food => food, :category => @category %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <hr>
  <%= link_to 'Explore Main Menu', root_path %> | 
  <%= link_to "My Cart (#{current_user.cart_size})", my_cart_orders_path %>
  
</div>