<div style="display: flex; position: relative;left: 24%;">

	<%= link_to "#{ image_tag 'Picture1.png', size:"110x110" }".html_safe , root_path , {style: 'text-align: left; ' }%>

	<div style="text-align: center; margin-left: 60px;">
		<h1>Welcome to IndiaEats</h1>
		<p>Choose from a list of mouth watering delicious meals</p>
	</div>

	<div style="text-align: right;margin-left: 55px;">
	  <% if current_user.present? %>
	    <h4>
		    Hi <%= current_user.username %>&nbsp;
		    <%= link_to "My Cart (#{current_user.cart_size})", my_cart_orders_path %> |
		    <%= link_to 'My Orders', orders_path %> |
		    <%= link_to 'My Address', addresses_path%> |
		    <%= link_to 'Logout', destroy_user_session_path, method: :delete, data: {confirm: 'Are you Sure ?'}%></h4>
	  <% else %>
	    <h4>
	      <%= link_to 'Log In', new_user_session_path %> |
	      <%= link_to 'Sign Up', new_user_registration_path %>
	    </h4>
	  <% end %>
	</div>
</div>