<!DOCTYPE html>
<html>
  <head>
    <title>India Eats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="margin: 0px;">
  	<header style="background-color: #EA5B31; text-align: center;">
  		<%= render 'layouts/header' %>
  	</header>
    <center>
      <%= yield %>
    </center>
  </body>
</html>
