<!DOCTYPE html>
<html>
  <head>
    <title>FoodOrderingApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header style="background-color: #EA5B31">
  		<%= render 'layouts/header' %>
  	</header>
    <%= yield %>
  </body>
</html>
